flow.json
[
    {
        "id": "f6f2e6a9.33fef8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dea656bb.adbec8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "15a2ed29.dd5393"
                    },
                    {
                        "id": "7d9d346c.f44a2c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 40,
                "wires": [
                    {
                        "id": "43990d38.ee6774",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720,
                "y": 100,
                "wires": [
                    {
                        "id": "9684b658.f78bc8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720,
                "y": 160,
                "wires": [
                    {
                        "id": "754ca5d5.f292dc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720,
                "y": 220,
                "wires": [
                    {
                        "id": "a0a49648.183c58",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720,
                "y": 280,
                "wires": [
                    {
                        "id": "7d9d346c.f44a2c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "numero",
                "type": "num",
                "value": "20",
                "ui": {
                    "icon": "font-awesome/fa-angle-double-right",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "4c14f90f.4c4748",
        "type": "subflow",
        "name": "Calculo Datos",
        "info": "",
        "category": "function",
        "in": [
            {
                "x": 40,
                "y": 240,
                "wires": [
                    {
                        "id": "e621d496.48bc48"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 120,
                "wires": [
                    {
                        "id": "75fc0ce1.d9ed94",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1000,
                "y": 180,
                "wires": [
                    {
                        "id": "ed9bc8a.b089038",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1000,
                "y": 240,
                "wires": [
                    {
                        "id": "167dc274.fe8a2e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 860,
                "y": 360,
                "wires": [
                    {
                        "id": "e65a6f8f.f302c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 860,
                "y": 420,
                "wires": [
                    {
                        "id": "24838477.a9288c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "acumulado",
                "type": "num",
                "value": "20",
                "ui": {
                    "icon": "font-awesome/fa-caret-square-o-right",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#3FADB5",
        "inputLabels": [
            "datos"
        ],
        "outputLabels": [
            "max",
            "min",
            "avg",
            "array datos",
            "contador"
        ],
        "icon": "node-red/function.svg"
    },
    {
        "id": "7b26a06a.1a899",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aad70388.d7afb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3be73eba.073ff2",
        "type": "mqtt in",
        "z": "f6f2e6a9.33fef8",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stick/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "aad70388.d7afb",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "ea805e84.a4121"
            ]
        ]
    },
    {
        "id": "a0a49648.183c58",
        "type": "join",
        "z": "dea656bb.adbec8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "43990d38.ee6774",
                "9684b658.f78bc8",
                "754ca5d5.f292dc"
            ]
        ]
    },
    {
        "id": "7d9d346c.f44a2c",
        "type": "change",
        "z": "dea656bb.adbec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "contador",
                "pt": "flow",
                "to": "$flowContext('contador')+1",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "contador",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contador",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1ba070b0.8a3a6f",
        "type": "inject",
        "z": "dea656bb.adbec8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "c9a38bd6.657528"
            ]
        ]
    },
    {
        "id": "c9a38bd6.657528",
        "type": "change",
        "z": "dea656bb.adbec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "contador",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "43990d38.ee6774",
        "type": "change",
        "z": "dea656bb.adbec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$max(payload)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "15a2ed29.dd5393",
        "type": "change",
        "z": "dea656bb.adbec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "24379c71.4e09b4"
            ]
        ]
    },
    {
        "id": "9684b658.f78bc8",
        "type": "change",
        "z": "dea656bb.adbec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$min(payload)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "754ca5d5.f292dc",
        "type": "change",
        "z": "dea656bb.adbec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$average(payload)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "avg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "24379c71.4e09b4",
        "type": "switch",
        "z": "dea656bb.adbec8",
        "name": "",
        "property": "contador",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "numero",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "a0a49648.183c58"
            ],
            [
                "a50c0523.9feb58"
            ]
        ]
    },
    {
        "id": "a50c0523.9feb58",
        "type": "change",
        "z": "dea656bb.adbec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "contador",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "a0a49648.183c58"
            ]
        ]
    },
    {
        "id": "a84d3f6b.99431",
        "type": "debug",
        "z": "f6f2e6a9.33fef8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "e65a6f8f.f302c",
        "type": "join",
        "z": "4c14f90f.4c4748",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "75fc0ce1.d9ed94",
                "ed9bc8a.b089038",
                "167dc274.fe8a2e"
            ]
        ]
    },
    {
        "id": "52265019.e5dcb",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "e65a6f8f.f302c"
            ]
        ]
    },
    {
        "id": "ea805e84.a4121",
        "type": "subflow:4c14f90f.4c4748",
        "z": "f6f2e6a9.33fef8",
        "name": "",
        "env": [
            {
                "name": "acumulado",
                "value": "15",
                "type": "num"
            }
        ],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "cb8a4823.98c048"
            ],
            [
                "413426bd.d903e8"
            ],
            [
                "8f63220c.2ab09"
            ],
            [
                "a84d3f6b.99431"
            ],
            [
                "eefbecf3.17ac1"
            ]
        ]
    },
    {
        "id": "2e76e758.536288",
        "type": "inject",
        "z": "4c14f90f.4c4748",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "a487c4ab.f856b8"
            ]
        ]
    },
    {
        "id": "a487c4ab.f856b8",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "contador",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e621d496.48bc48",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "contador",
                "pt": "flow",
                "to": "$flowContext('contador')+1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "e7eca0ca.618d6",
                "24838477.a9288c"
            ]
        ]
    },
    {
        "id": "eefbecf3.17ac1",
        "type": "debug",
        "z": "f6f2e6a9.33fef8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "e7eca0ca.618d6",
        "type": "switch",
        "z": "4c14f90f.4c4748",
        "name": "",
        "property": "contador",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "acumulado",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "52265019.e5dcb"
            ],
            [
                "ca7775ab.3a6bc8"
            ]
        ]
    },
    {
        "id": "ca7775ab.3a6bc8",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "contador",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "52265019.e5dcb"
            ]
        ]
    },
    {
        "id": "24838477.a9288c",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contador",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "contador",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "75fc0ce1.d9ed94",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$max(payload)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "MAX",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9bc8a.b089038",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$min(payload)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "MIN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "167dc274.fe8a2e",
        "type": "change",
        "z": "4c14f90f.4c4748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$average(payload)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "AVG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cb8a4823.98c048",
        "type": "debug",
        "z": "f6f2e6a9.33fef8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "413426bd.d903e8",
        "type": "debug",
        "z": "f6f2e6a9.33fef8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "8f63220c.2ab09",
        "type": "debug",
        "z": "f6f2e6a9.33fef8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 240,
        "wires": []
    }
]